---
import Layout from '../../layouts/Layout.astro'
const pageTitle = "Login Page"
// src/pages/index.astro
const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);
---

<Layout title={pageTitle}>
		<h1>Profile</h1>
		<p>User id: {session.user.userId}</p>
		<p>Username: {session.user.username}</p>
		<form method="post" action="/logout">
			<input type="submit" value="Sign out" />
		</form>
</Layout>