---
import Layout from '../layouts/Layout.astro'
import { mytasks } from '../lib/tasks';
const pageTitle = "About Page"
---

<Layout title={pageTitle}>
    <h2>About Page</h2>
    <ul>
        {mytasks.map(task=> <li>{task.id} - {task.title}</li>)}
    </ul>
</Layout>